.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.image-wrapper img {
  height: 600px;
  width: auto;
  display: block;
  opacity: 1;
  transition: transform 1.5s ease-in-out, opacity 0.3s ease-in-out;
}

.image-wrapper img.next {
  transform: translateX(150%);
  opacity: 0;
}

.image-wrapper img.prev {
  transform: translateX(-100%);
  opacity: 0;
}
