.Header {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.Header .Header-logo {
  width: 17rem;
}

.Header .Header-button {
  border: 2px solid grey;
  float: left;
}

.Header .LoginJoin {
  border: 2px solid grey;
  float: right;
}

.Navigation .LoginJoin {
  border: 2px solid grey;
  float: right;
}

.footer {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: larger;
  background-color: #171717;
}

.footersection {
  height: 300px;
  font-size: 20px;
  padding-top: 80px;
  background-color: #171717;
}

.footersection p {
  color: #fefbf3;
  background-color: #171717;
}

.site-header {
  color: #fff;
  padding: 20px 0;
  top: 0;
  width: 100%;
  z-index: 99;
  padding-top: 3rem;
}

.site-header .container {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: rgb(0, 0, 0, 0);
}

.site-header .nav-menu {
  display: flex;
  list-style: none;
  margin-bottom: 3rem;
  padding: 0;
}

.site-header .nav-menu li {
  width: 8rem;
  margin-left: 20px;
}

.site-header .nav-menu li a {
  width: 7rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #171717;
  padding-bottom: 5px;
}

.site-header .nav-menu li a:hover {
  color: #ccc;
  width: 9em;
}

.site-header .nav-menu li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 9em;
  background-color: #171717;
  transition: bottom 0.2s ease-in-out;
}

.site-header .nav-menu li a:hover::before {
  bottom: -15px;
}

.login {
  margin-left: 7rem;
}

.meeting-header {
  color: black;
  top: 0;
  width: 100%;
  z-index: 99;
}

.meeting-header .container {
  border: none;
}

.meeting-header .meeting-nav-menu {
  display: flex;
  list-style: none;
  margin-bottom: 3rem;
  padding: 0;
}

.meeting-header .meeting-nav-menu li {
  width: 12rem;
  margin-left: 20px;
}

.meeting-header .meeting-nav-menu li a {
  width: 10rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #171717;
  padding-bottom: 5px;
}

.site-header .nav-menu li .active {
  font-weight: 800;
  color: #70423e;
}

/* 
.meeting-header .meeting-nav-menu li a:hover {
  color: #ccc;
  width: 10em;
}

.meeting-header .meeting-nav-menu li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 10em;
  background-color: #171717;
  transition: bottom 0.2s ease-in-out;
}

.meeting-header .meeting-nav-menu li a:hover::before {
  bottom: -15px;
} */
